<div class="nav-wrapper nav-content white lighten-2 ">
    <ul class=" tabs tabs-transparent ">
        <li class="tab puntero " (click)="tab='home' "><a class="active black-text ">Test 1</a></li>
        <li class="tab puntero " (click)="tab='imagen' "><a class=" black-text ">Test 2</a></li>
        <li class="tab puntero " (click)="tab='video' "><a class="black-text ">Test 3</a></li>
        <li class="tab puntero " (click)="tab='audio' "><a class="black-text ">Test 4</a></li>
    </ul>
</div>
<div class="row">
    <!--     infiniteScroll [alwaysCallback]="true" [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()" -->

    <div class="col col s12 m9 l9 ">
        <div [hidden]="tab!=='home' " class="  col s12">
            <app-all-publicaciones></app-all-publicaciones>
        </div>
        <div [hidden]="tab!=='imagen' " class="col s12 scrollHome2" infiniteScroll [alwaysCallback]="true" [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
            <app-only-imagen></app-only-imagen>
        </div>
        <div [hidden]="tab!=='video' " class="col s12 scrollHome2" infiniteScroll [alwaysCallback]="true" [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
            <app-only-videos></app-only-videos>
        </div>
        <div [hidden]="tab!=='audio' " class="col s12 scrollHome2" infiniteScroll [alwaysCallback]="true" [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
            <app-only-audios></app-only-audios>
        </div>
    </div>

    <div class="col col s3 m3 l3 " style="height: 100vh; max-width:223px; margin:0; padding:0 ">
        <div class="white center ">
            <a href=" " class="black-text ">1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17
                    <h6 class="black-text ">.::.</h6>
                    <!--   <img src=" " alt="UserImage " class="responsive-img "> -->
                </a>
        </div>
    </div>

</div>