<div class="container  with-header">
    <div class="collection" style="margin: 0; height: 100vh; border: 0px; box-shadow: none !important; ">
        <div class="container ">
            <div class="scrollHome2" infiniteScroll [scrollWindow]="false" [infiniteScrollContainer]="selector" [fromRoot]="true" [alwaysCallback]="true" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()"
                (scrolledUp)="onScrollUp()">
                <div>
                    <a class="collection-header center">
                        <h4>Horarios</h4>
                    </a>
                </div>
                <hr>
                <span class="title">Lunes</span>
                <div>
                    <a class="collection-item puntero">
                        <div>
                            <span>Matematica</span>
                            <a class="secondary-content">
                          8:00 am - 9:30am
                        </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Fisica</span>
                            <a class="secondary-content">
                           9:50 am - 11:10am
                         </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Economia</span>
                            <a class="secondary-content">
                           11:20 am - 12:30pm
                         </a>
                        </div>
                    </a>

                </div>

                <br>
                <span class="title">Martes</span>
                <div>
                    <a class="collection-item puntero">
                        <div>
                            <span>Matematica</span>
                            <a class="secondary-content">
                          8:00 am - 9:30am
                        </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Fisica</span>
                            <a class="secondary-content">
                           9:50 am - 11:10am
                         </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Economia</span>
                            <a class="secondary-content">
                           11:20 am - 12:30pm
                         </a>
                        </div>
                    </a>

                </div>

                <br>
                <span class="title">Miercoles</span>
                <div>
                    <a class="collection-item puntero">
                        <div>
                            <span>Matematica</span>
                            <a class="secondary-content">
                          8:00 am - 9:30am
                        </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Fisica</span>
                            <a class="secondary-content">
                           9:50 am - 11:10am
                         </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Economia</span>
                            <a class="secondary-content">
                           11:20 am - 12:30pm
                         </a>
                        </div>
                    </a>

                </div>


                <br>
                <span class="title">Jueves</span>
                <div>
                    <a class="collection-item puntero">
                        <div>
                            <span>Matematica</span>
                            <a class="secondary-content">
                          8:00 am - 9:30am
                        </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Fisica</span>
                            <a class="secondary-content">
                           9:50 am - 11:10am
                         </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Economia</span>
                            <a class="secondary-content">
                           11:20 am - 12:30pm
                         </a>
                        </div>
                    </a>

                </div>



                <br>
                <span class="title">Viernes</span>
                <div>
                    <a class="collection-item puntero">
                        <div>
                            <span>Matematica</span>
                            <a class="secondary-content">
                          8:00 am - 9:30am
                        </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Fisica</span>
                            <a class="secondary-content">
                           9:50 am - 11:10am
                         </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Economia</span>
                            <a class="secondary-content">
                           11:20 am - 12:30pm
                         </a>
                        </div>
                    </a>

                </div>


                <br>
                <span class="title">Sábado</span>
                <div>
                    <a class="collection-item puntero">
                        <div>
                            <span>Matematica</span>
                            <a class="secondary-content">
                          8:00 am - 9:30am
                        </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Fisica</span>
                            <a class="secondary-content">
                           9:50 am - 11:10am
                         </a>
                        </div>
                    </a>
                    <a class="collection-item puntero">
                        <div>
                            <span>Economia</span>
                            <a class="secondary-content">
                           11:20 am - 12:30pm
                         </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>