<div class="row" style="margin-bottom: 0; min-height: 220px; height: 100vh; max-height: 100vh;">
    <!--  style="height: 100vh; max-height: 100vh; position: relative;"  <div class="navbar-fixed" style="height: 50px !important; width: 20px !important;"> -->
    <nav class="cyan" style="width: 100vw">
        <div class="nav-wrapper" *ngIf="navbarModel.dinamic">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <div class="card col s2 m2 l2  hide-on-med-and-down" style=" padding: 0;margin-top: 0">
        <div>
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="col col s12 m12 l8" style="padding: 0;">

        <router-outlet></router-outlet>



    </div>
    <div class="card col s12 m12 l2 hide-on-med-and-down " style=" height: 100vh; max-height: 100vh; margin-top: 0; justify-content: center;justify-items: center; align-items: center;">
        <app-navbar2></app-navbar2>
    </div>

</div>